* {
  box-sizing: border-box;
}

body {
  background-color: darken(#83AF9B, 45%);
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}

.snow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.footer {
  position: fixed;
  bottom: 10px;
  left: 10px;
  font-size: 2rem;
  font-family: 'Courgette', cursive;
  color: #FACEAE;
  text-align: center;
  display: block;
}

.footer__logo {
  width: 90px;
}

