body {
  background-color: darken(#83AF9B, 45%);;
}

.raffle {

}

.snow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.present {
  position: absolute;
  width: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.present-top, .present-bottom {
  position: absolute;

  img {
    width: 400px;
  }
}

